:where(.mako) {
@import "../../node_modules/@mako/cms/dist/style.css";
@import "../../node_modules/@mako/core/dist/style.css";
}

@import "tailwindcss";

/* Reset Mako styles for non-Mako elements */





@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;

}
